html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

.background {
  width: 100%;
  height: 100%;
  position: fixed;
  margin: 0 auto;
  top: 0;
  background: linear-gradient(70deg, rgb(16, 133, 222), pink);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.3;
  z-index: -1;
}

/*组件样式*/
.ant-layout {
  background-color: rgba(255, 255, 255, 0) !important;
}

.ant-menu {
  background-color: rgba(255, 255, 255, 0) !important;
}

.ant-layout-sider-trigger {
  background-color: rgba(255, 255, 255, 0) !important;
}

.ant-dropdown-trigger {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.ant-dropdown-menu {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.ant-table {
  background-color: rgba(255, 255, 255, 0.4) !important;
  border-radius: 20px !important;
  box-shadow: 1px 1px 1px rgb(121, 207, 250) !important;
  border: 2px solid rgb(185, 213, 227) !important;
}

.ant-table-cell {
  background-color: rgba(255, 255, 255, 0.4) !important;
}